html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    height: 100%;
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    margin: 50px auto;
    max-width: 750px;
    border: 1px solid #ccc;
    padding: 20px;
    white-space: normal;
}

.uploaded-image {
    max-width: 100%;
    max-height: 300px;
}

button,
a.button {
    display: inline-block;
    border: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    background-color: #77b893;
}

.frame {
    overflow: hidden;
}

.controls {
    overflow: hidden;
}

.controls .control-box {
    float: left;
    border-left: 1px solid #ccc;
    padding: 20px;
}
.controls .control-box:first-child {
    border-left: none;
}

.controls h3 {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.controls .btn {
    color: #000;
    background-color: transparent;
    width: 40px;
    height: 40px;
}